@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:ital,wght@0,100;1,100;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ESTADOS */


button:hover {
    background: rgb(249, 143, 117);
}
a:link, a:visited, a:active {
    text-decoration:none;
}
button a:visited {
    color: inherit;
}
ul li a:active {
    color:#B3B2B7; 
    cursor: pointer; 
}
.redes i:hover {
    color: #F3603B;
    cursor: pointer; 
}
ul a:visited {
    color: inherit;
}
.boton-go:hover {
    cursor: pointer;
}

/* HEADER */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 125px;
}
.navbar {
    display: none;
}
.boton-started {
    width: 134px;
    height: 44px;
    color: #FFFFFF;
    background-color: #F3603B;
    border: #F3603B;
    border-radius: 50px;
    box-shadow: 10%;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease both;
    -webkit-transition: background-color 0.5s ease both;
    -moz-transition: background-color 0.5s ease both;
    -ms-transition: background-color 0.5s ease both;
    -o-transition: background-color 0.5s ease both;
}

/* BODY */

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 2rem;
}
/* SECTION 1 */

.principal {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.image-container img {
    width: 100%;
}

.text-container h1, .text-container h2 {
    text-align: justify;
    font-size: 2rem;
    font-weight: 700;
    color: #232C50;
}

.text-container span {
    font-size: 1rem;
    text-align: justify;
}

/* SECCION 2 */


.secundaria {
    margin-top: 10%;
}

.secundaria .text-container span {
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.list-container {
    width: 92%;
    margin-top: 50px;
}

.list-container>h3 {
    color: rgb(35, 44, 81);
    width: 100%;
    height: 30px;
    font-size: 1rem;
    background-color: rgb(255, 239, 234);
    margin-left: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    text-align: center;
    padding:0.5em 0 0 1em;
}

.list-container>p {
    font-size: 0.8em;
    font-weight: 300;
    color: rgb(143, 148, 167);
    text-align: start;
    margin: 10px 10px 20px 30px;
    line-height: 1.2rem;
}

.item-number {
    background-color: rgb(242, 95, 58);
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 8px;
    width: 40px;
    height: 30px;
    display: inline-block;
    color: rgb(249, 249, 249);
    border-radius: 50px;
    font-weight: 400;
    font-size: .7rem;
}

/* TESTIMONIOS */

.testimonios h2 {
    color: #3F4868;
    margin-top: 30px;
    margin-bottom: 30px;
}


.person {
    height: 250px;
    position: relative;
}
.person>img {
    position: absolute;
    top: 0%;
    left: 37%;
    height: 50px;
    width: 50px;
}

.testimonios-text-container {
    width: 90%;
    height: 200px;
    padding-top: 65px;
}
h4 {
    color: #3F4868;
    padding-bottom: 10px;
    text-align: center;
}
.testimonios-text-container>span {
    width: 85%;
    font-size: 0.8rem;
    color: #B9B9C1;
}

.testimonios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}


.boton-articulos {
    text-align: center;
    margin-bottom: 10%;
}

/* SIMPLIFY */


.Simplify {
    background-color: #F3613C;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 35px;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.Simplify span {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.Simplify .boton-started {
    width: 134px;
    height: 44px;
    background-color: #FFFFFF;
    color:#F3603B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/* FOOTER */


footer {
    background-color: #1E1E26;
    height: 380px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer div.logo-redes {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div .redes {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

.navfooter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #FFFFFF;
}

.lista-1>ul>li,
.lista-2>ul>li{
    margin-top: 10px;
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #8C8C94;
}

.formulario form {
    display: flex;
    align-items: center;
    gap: 5px;
}

footer form .email {
    height: 30px;
    width: 200px;
    border-radius: 50px;
    color: #8C8C94;
    padding: 6px;
}

footer span {
    font-size: 0.6rem;
    text-align: right;
}

footer div span {
    position: absolute;
    top: 350px;
    margin-top: 5px;
}

.boton-go {
    width: 45px;
    height: 30px;
    color: white;
    background-color: #F3603B;
    border: #F3603B;
    border-radius: 50px;
    box-shadow: 10%;
    padding: 5px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 376px) {
    #icono-menu {
        display: none;
    }
    header div {
        gap: 15px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5px;
    }
    .navbar nav {
        width: 20%;
    }
    .navbar nav ul {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
    .boton-started {   
        width: 134px;
        height: 44px;
        color: white;
        background-color: #F3603B;
        border-radius: 50px;
        box-shadow: 10%;
        padding: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }
    /* SECTION 1 */

    .principal {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .image-container {
        margin-right: 10%;
    }
    /* SECTION 2 */

    .text-container h2 {
        font-size: 1.5rem;
    }


    .list-container {
        margin-top: 0;
    }

    .list-container h3 { 
        text-align: start;
        padding-left: 0;
        background-color: #FFFFFF;
        border-bottom-left-radius: 0px;
    }

    .item-number {
        text-align: center;
        left: -50px;
    }

    .secundaria {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* width: 100%;
        gap: 15px; */
        margin-left: 30px;
    }

    .secundaria .text-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        margin-left: 1%;
    }

    /* SECTION TESTIMONIOS */

    .testimonios-text-container {
        height: 200px;
        padding-top: 70px;
        width: 70%;
    }
    .person {
        height: 300px;
    }
    person>img {
        position: absolute;
        top: -15%;
        left: 39%;
        height: 70px;
    }
    .testimonios-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
    }
    h4 {
        width: 85%;
        padding-bottom: 10px;
    }
    .testimonios-text-container>p {
        width: 85%;
    }
    .testimonios h2 {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .testimonios {
        /* width: 100%; */
        /* margin-left: 70px; */
    }
    
    /* SIMPLIFY */
    
    .Simplify {
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .Simplify span {
        margin-left: 4%;
        margin-right: 5%;
    }


    /* FOOTER */

    footer {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer div.logo-redes {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 100px;
    }
    div .redes {
        gap: 19px;
        font-size: 1rem;
    }
    .navfooter {
        display: flex;
        justify-content: space-between;
        width: 29%;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-right: 80px;
        margin-bottom: 80px;
    }
    footer form .email {
        width: 250px;
    }
    footer div span {
        position: absolute;
        top: 150px;
    }