@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:ital,wght@0,100;1,100;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10%;
}
header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    display: none;
}
button:hover {
    background: rgb(249, 143, 117);
}
.boton-started {
    width: 134px;
    height: 44px;
    color: white;
    background-color: #F3603B;
    border-radius: 50px;
    box-shadow: 10%;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 2rem;
}
.hola {
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
}
.s {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
img.pequeña {
    width: 100%;
}
.principal {
    text-align: justify;
    font-size: 2rem;
    font-weight: 700;
    color: #232C50;
}
.secundaria {
    font-size: 1rem;
    text-align: justify;
}
.hola2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10%;
    }
.manage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    }
.principal2 {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 700;
    color: #232C50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
.secundaria2 {
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 5%;
    }
.listado {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.listado span {
    background-color: rgb(242, 95, 58);
    border-radius: 35px;
    color: white;
    padding: 9px 27px;
    width: 79px;
    height: 39px;
    font-weight: bold;
    display: flex;
}
.listado h3 {
    background-color: #FCB4A3;
    width: 100%;
    height: 40px;
    color: #323851;
    display: flex;
    gap: 10px;
    font-size: 1rem;
}
.listado p {
    color: #B3B2B7;
    text-align: justify;
}
.hola3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
    margin-left: 10%;
    margin-right: 10%;
}
.comentarios {
margin-top: 20%;
margin-bottom: 10%;
display: flex;
flex-direction: column;
}
article{
height: 300px;
/* width: 450px; */
text-align: center;
background-color: #FAFAFA;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
padding: 55px;
gap: 2px;
color: #B9B9C1;
position: relative;
}
article img {
    position: absolute;
    top: -10%;
    left: 37%;
    height: 60px;
}
.hola3 h2, article h4 {
    color: #3F4868;
}
.boton-articulos {
    text-align: center;
    margin-bottom: 10%;
}
.Simplify {
    background-color: #F3613C;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 35px;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.Simplify span {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.Simplify .boton-started {
    width: 134px;
    height: 44px;
    background-color: #FFFFFF;
    color:#F3603B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
footer {
    background-color: #1E1E26;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer div.logo-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
}
div .redes {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.navfooter nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 155px;
}
.navfooter nav ul div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 0.9rem;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-right: 100px;
    color: #8C8C94;
}
footer span {
    font-size: 0.6rem;
    text-align: right;
}
.boton-go {
    width: 45px;
    height: 25px;
    color: white;
    background-color: #F3603B;
    border-radius: 50px;
    box-shadow: 10%;
    padding: 5px;
}
@media screen and (min-width: 376px) {
    #hamburguesa{
        display: none;
    }
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar nav {
        width: 80%;
    }
    .navbar nav ul {
        display: flex;
        gap: 25px;
        justify-content: center;
    }
    .boton-started {   
        width: 134px;
        height: 44px;
        color: white;
        background-color: #F3603B;
        border-radius: 50px;
        box-shadow: 10%;
        padding: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    }
    .hola {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .s {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .g {
        margin-right: 10%;
    }
    .hola2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 10%;
        font-size: 0.8rem;
        margin-top: 10%;
    }
    .listado h3 {
        gap: 50px;
    }
    .manage {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        margin-left: 1%;
    }
    .comentarios {
        margin-bottom: 0;
    }
    article {
        gap: 20px;
    }
    article img {
        position: absolute;
        top: -15%;
        left: 42%;
        height: 70px;
    }
    .Simplify {
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .Simplify span {
        margin-left: 4%;
        margin-right: 5%;
    }
    .comentarios {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 40px;
    }
