* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav {
    height: 25px;
    background-color: black;
    color: white;
    padding: 4px;
}
.logo-menu{
height: 20px;
position: absolute;
top: 45px;
}
.menu {
    background-color: orange;
    height: 62px;
}
section .banner{
    height: 505px;
    position:relative;
}
.saludo {
max-width: 50%;
background-color: white;
text-align: center;
font-size: 1.5em;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
padding: 16px;
border-radius: 5px;
position: absolute;
top: 249px;
left: 880px;
}
.descuento {
    text-align: center;
    position: absolute;
    top: 339px;
    left: 930px;
}
.boton-comederos {
    background-color: #F0A83E;
    color: white;
    padding: 16px;
    border-radius: 8px;
    position: absolute;
    top: 369px;
    right: 175px;
}
.productos-destacados {
    text-align: center;
}
.suscripcion {
    background-color: #F0A83E;
    color: #FFFFFF;
}
.datos {
    background-color: #3C2313;
    color: white;
    background-size: cover;
    padding-top: 5px;
}
.copyright {
    background-color: #222222;
    text-align: center;
    color: white;
    padding: 6px;
}